@{
    ViewBag.Title = "Home";
}

<a class="btn btn-primary mb-5" href="@Url.Action("Index", "Blog")">List All Blogs</a>
<a class="btn btn-primary mb-5" href="@Url.Action("Index", "Author")">List All Authors</a>
